
.headerBlock {
    grid-area: h;
    background-color: yellow;
        a{
            float: right;
            color: royalblue;
            text-decoration: none;
    }
img{
    width: 90px;
    height: 90px;
}

}


