
.headerBlock {
    grid-area: h;
    background-color: yellow;
    .navLogin{
            float: right;
            color: royalblue;
            text-decoration: none;
        a{
            text-decoration: none;
        }
    }
img{
    width: 90px;
    height: 90px;
}

}


