.App-wrapper {
    display: grid;
    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "h h"
                         "n c";
    margin: 0 auto;
}

.content {
    grid-area: c;
    background-color: rebeccapurple;

}