.App-wrapper {
    display: grid;
    grid-template-rows: 90px 2fr;
    grid-template-columns: 1fr 10fr ;
    grid-template-areas: "h h"
                         "n c"
                         "s c";

}
.content {
    grid-area: c;
    background-color: #666666;

}